<section class="mt-5">
  <div class="container-fluid ">


    <!-- custom_width -->
    <div class="home">

      <section class="bg1">
        <div class="l-space ">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="title ">
                  <span class="underline">Product Development</span>
                  <span class="blueline"></span>
                </div>
                <div class="textdata">
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five </p>
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five </p>
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-img">
                <img src="assets/img/solutions/product_development.svg">
              </div>
            </div>
          </div>
        </div>
      </section>


 <!-- 2 section-->
 <section class="sec-sction" >
   <div class="bg2">


  <div class="l-space ">
    <div class="row">

      <div class="col-md-6">
        <div class="right-img t-l">
          <img src="assets/img/solutions/Mobile_Web_Development.svg">
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <div class="title ">
            <span class="underline">Mobile & Web Development</span>
            <span class="blueline"></span>
          </div>
          <div class="textdata">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>

<!--end-->

<section class="bg1">
  <div class="l-space ">
    <div class="row">
      <div class="col-md-6">
        <div>
          <div class="title ">
            <span class="underline">Design(UX&Visual) </span>
            <span class="blueline"></span>
          </div>
          <div class="textdata">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-img">
          <img src="assets/img/solutions/OBJECTS.svg">
        </div>
      </div>
    </div>
  </div>
</section>


 <!-- 2 section-->
 <section class="sec-sction" >
  <div class="bg2">


 <div class="l-space ">
   <div class="row">

     <div class="col-md-6">
       <div class="right-img t-l">
         <img src="assets/img/solutions/DataAnalytics.svg">
       </div>
     </div>

     <div class="col-md-6">
       <div>
         <div class="title ">
           <span class="underline">Data Analytics </span>
           <span class="blueline"></span>
         </div>
         <div class="textdata">
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
             type and scrambled it to make a type specimen book. It has survived not only five </p>
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
             type and scrambled it to make a type specimen book. It has survived not only five </p>
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
             type and scrambled it to make a type specimen book. It has survived not only five </p>
         </div>
       </div>
     </div>

   </div>
 </div>
</div>
</section>

<!--end-->


<section class="bg1">
  <div class="l-space ">
    <div class="row">
      <div class="col-md-6">
        <div>
          <div class="title ">
            <span class="underline">AR/VR </span>
            <span class="blueline"></span>
          </div>
          <div class="textdata">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-img">
          <img src="assets/img/solutions/ARVR.svg">
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- 2 section-->
 <section class="sec-sction" >
  <div class="bg2">


 <div class="l-space ">
   <div class="row">

     <div class="col-md-6">
       <div class="right-img t-l">
         <img src="assets/img/solutions/IT_Staffing.svg">
       </div>
     </div>

     <div class="col-md-6">
       <div>
         <div class="title ">
           <span class="underline">IT Staffing </span>
           <span class="blueline"></span>
         </div>
         <div class="textdata">
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
             type and scrambled it to make a type specimen book. It has survived not only five </p>
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
             type and scrambled it to make a type specimen book. It has survived not only five </p>
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
             the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
             type and scrambled it to make a type specimen book. It has survived not only five </p>
         </div>
       </div>
     </div>

   </div>
 </div>
</div>
</section>

<!--end-->

    </div>
  </div>
</section>
