<section class="banner-h-full d-flex align-items-start  py-4">
    <div class="container-fluid custom_width">
        <div class="home">

            <mat-toolbar>
                <span>Java Script Assestment</span>

            </mat-toolbar>
            <mat-card class="pl-5 pt-0 pb-0">
                <div class="row">
                    <div class="col-md-9 rBorder">
                        <div class="row mt-3">
                            <div class="col-md-6"> <div class="inlineBlock"><mat-icon>event_note</mat-icon></div>   <div class="fontSize inlineBlock">Note: You can skip question.</div> </div>
                            <div class="col-md-6 alignRight">{{min}}m : {{sec}}s Left</div>

                        </div>
                        <div class="row mt-5 mb-5" >
                            <div class="col-md-1 text-align-center " ><div class="circle"><p class="innerNumber">{{currentIndex+1}}</p></div></div>
                            <div class="col-md-11" >
                                <div class="fontColor mt-1">
                                    {{questionnarire[currentIndex].q}}
                                </div>
                                <div >
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="options-radio-group" [(ngModel)]="selected">
                                        
                                        <mat-radio-button class="option-radio-button fontColor mt-3 mb-3" (change)="onAnswer($event)" *ngFor="let op of questionnarire[currentIndex].o" [value]="op">
                                            {{op}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="mt-4">
                                    <button type="button" class="outline-btn mr-4" (click)="onSkip(currentIndex)">Skip Question</button>
                                    <button type="button" class="outline-btn mr-4" (click)="onPrevious()" [disabled]="!isPrevEnabled">Previous</button>
                                    <button type="button" class="solid-btn" (click)="onNext()" [disabled]="!isNextEnabled">Next</button>
                                  </div>
                            </div>
                            
                        </div>

                    </div>
                    <!-- <div class="vl"></div> -->
                    <div class="col-md-3">
                        <div class="mt-4 mb-4 mr-2 ml-2">
                            <div>
                                Questions({{questionnarire.length}})
                            </div>
                            <div class=" mt-3 mb-3">

                                <div class="  mr-3 mb-3" *ngFor="let q of questionnarire; let i=index;" [ngClass]="{
                                    'squareCurrent':i==currentIndex && q.isSkipped==false && q.isAttended==false,
                                    'squareNotAttended':i!=currentIndex && q.isSkipped==false && q.isAttended==false, 
                                    'squareSkipped':q.isSkipped==true && q.isAttended==false,
                                    'squareAttended':q.isSkipped==false && q.isAttended==true  }" >
                                    <p>{{i+1}}</p>
                                    
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="squareIndicatorAttended"></div>
                                    <div class="inline ml-3">Attended</div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="squareIndicatorSkipped"></div>
                                    <div class="inline ml-3">Skipped</div>
                                    
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="squareIndicatorNotAttended"></div>
                                    <div class="inline ml-3">Yet to attend</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>

        </div>
    </div>
</section>