<section class="banner-h-full d-flex align-items-start py-4">
  <div class="container-fluid custom_width">
    <div class="home">
      
      <mat-toolbar>
        <span>Filter By:</span>
        <span class="ml-3">Department :</span>
        <div class="custom-input-select custom-select-box mr-2">
          <mat-form-field>
            <mat-select
              panelClass="mat-select-custom-color"
              id="dept"
              disableOptionCentering
              [(ngModel)]="selectedDepartment"
              (selectionChange)="onChangeDept(selectedDepartment)"
            >
              <mat-option
                [value]="item"
                *ngFor="let item of dataSource.data; let i = index"
              >
                {{ item.department}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
        </div>
        <span class="ml-3">Designation :</span>
        <div class="custom-input-select custom-select-box mr-2">
          <mat-form-field>
            <mat-select
              panelClass="mat-select-custom-color"
              id="designation"
              disableOptionCentering
              [(ngModel)]="selectedDesignation"
              (selectionChange)="onChangeDes($event)"
            >
              <mat-option
                [value]="item"
                *ngFor="let item of dataSource.data; let i = index"
              >
                {{ item.designation?.designationName }}

           
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <span class="ml-3">Location :</span>
        <div class="custom-input-select custom-select-box mr-2">
          <mat-form-field>
            <mat-select
              panelClass="mat-select-custom-color"
              id="location"
              disableOptionCentering
              [(ngModel)]="selectedLocation"
              (selectionChange)="onChangeLocation($event)"
            >
              <mat-option
                [value]="item"
                *ngFor="let item of dataSource.data; let i = index"
              >
                {{ item.experienceDetails?.designation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
         
          <span class="ml-3">Custome FIlter :</span>
          <mat-form-field>
           

            <mat-select
             
              multiple
              [(ngModel)]="allSelected"
              (selectionChange)="selectionChange($event)"
            >
              <mat-option
                *ngFor="let displayedColumns of displayedCounmForDropDown"
                [value]="displayedColumns"
              >
                {{ displayedColumns }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          aria-label="view_list"
          (click)="onViewClick('list')"
        >
          <mat-icon [ngStyle]="{ color: '#0F6CB6' }" class="mr-2"
            >view_list</mat-icon
          >
        </button>
        <button
          mat-icon-button
          aria-label="grid_view"
          (click)="onViewClick('grid')"
        >
          <mat-icon [ngStyle]="{ color: '#0F6CB6' }" class="mr-2">
            grid_view</mat-icon
          >
        </button>

        <div class="custom-input custom-select-box mr-2">
          <mat-form-field>
            <mat-select
              panelClass="mat-select-custom-color"
              id="month"
              disableOptionCentering
              [(ngModel)]="selectedMonth"
              (selectionChange)="onChangeMonth($event)"
            >
              <mat-option
                [value]="item"
                *ngFor="let item of months; let i = index"
              >
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          aria-label="new job"
          (click)="openAddEmployeeDialog(null)"
        >
          <mat-icon class="mr-1">add</mat-icon><span>Add Employee</span>
        </button>
      </mat-toolbar>

      <div class="table-responsive-c table-responsive" *ngIf="selectedValues">
        <table
          mat-table
          [dataSource]="dataSource"
          multiTemplateDataRows
          matSort
        >
          <ng-container
            [matColumnDef]="column"
            *ngFor="let column of displayedColumns; let i = index"
          >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{
                column == "sr_no"
                  ? "SR
                            NO"
                  : column == "employeeId"
                  ? "EMPLOYEE ID"
                  : column == "name"
                  ? "EMPLOYEE
                            NAME"
                  : column == "gender"
                  ? "GENDER"
                  : column == "bloodGroup"
                  ? "BLOOD GROUP"
                  : column == "orgnazationEmail"
                  ? "EMAIL
                            ID"
                  : column == "mobileNo"
                  ? "MOBILE
                            NUMBER"
                  : column == "department"
                  ? "DEPARTMENT"
                  : column == "designation"
                  ? "DESIGNATION"
                  : column == "location"
                  ? "LOCATION"
                  : "ACTION"
              }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div
                class="table-data"
                [ngClass]="{
                  'left-border': column == 'sr_no',
                  'left-border-1':
                    element.experienceLevel === '1' && column == 'sr_no',
                  'left-border-2':
                    element.experienceLevel === '2' && column == 'sr_no',
                  'left-border-3':
                    element.experienceLevel === '3' && column == 'sr_no',
                  'left-border-4':
                    element.experienceLevel === '4' && column == 'sr_no'
                }"
              >
                <span *ngIf="column == 'sr_no'" class="vertical-center pl-2">{{
                  i + 1
                }}</span>
                <span *ngIf="column != 'sr_no'" class="vertical-center">{{
                  element[column]
                }}</span>
                <span
                  *ngIf="column != 'sr_no' && column == 'department'"
                  class="vertical-center"
                  >{{ element[column].department }}</span
                >

                <span *ngIf="column == 'action'">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    #menuTrigger
                    [matMenuTriggerData]="element"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="openDeleteEmployeeDialog(element)"
                    >
                      Delete
                    </button>
                    <button
                      mat-menu-item
                      (click)="openUpdateEmployeeDialog(element)"
                    >
                      Update
                    </button>
                    <!-- <button mat-menu-item (click)="openDeleteDialog(element)">Onboarding</button> -->
                  </mat-menu>
                </span>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- <mat-paginator pageSize=10 showFirstLastButtons=false aria-label="career" class="mb-5"></mat-paginator> -->
        <!-- <mat-paginator
                appCustomPagination
                (page)="pageChangeEvent($event)"
                [length]="pageLength"
                [pageSize]="pageSize"

              >
              </mat-paginator> -->
        <mat-paginator
          appCustomPagination
          [showTotalPages]="3"
          [length]="recordLength"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
