<section class="banner-h-full d-flex align-items-start">
    <div class="container-fluid custom_width">
        <div class="home">

<section >
 
            <mat-toolbar>
                <span>Filter By:</span>
                <span class="ml-3">Department :</span>
                <div class="custom-input-select custom-select-box mr-2">
                    <mat-form-field>
                        <mat-select panelClass="mat-select-custom-color" id="dept" disableOptionCentering
                            [(ngModel)]="selectedDepartment" (selectionChange)="onChangeDept($event)">

                            <mat-option [value]="item" *ngFor="let item of department; let i = index ">
                                {{item}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <span class="ml-3">Designation :</span>
                <div class="custom-input-select custom-select-box mr-2">
                    <mat-form-field>
                        <mat-select panelClass="mat-select-custom-color" id="designation" disableOptionCentering
                            [(ngModel)]="selectedDesignation" (selectionChange)="onChangeDes($event)">

                            <mat-option [value]="item" *ngFor="let item of designation; let i = index ">
                                {{item}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <span class="ml-3">Location :</span>
                <div class="custom-input-select custom-select-box mr-2">
                    <mat-form-field>
                        <mat-select panelClass="mat-select-custom-color" id="location" disableOptionCentering
                            [(ngModel)]="selectedLocation" (selectionChange)="onChangeLocation($event)">

                            <mat-option [value]="item" *ngFor="let item of location; let i = index ">
                                {{item}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <span class="example-spacer"></span>
                <mat-icon [ngStyle]="{'color':'#0F6CB6'}" class="mr-2">view_list</mat-icon>
                <mat-icon [ngStyle]="{'color':'#0F6CB6'}" class="mr-2">
                    grid_view</mat-icon>
                <div class="custom-input custom-select-box mr-2">
                    <mat-form-field>
                        <mat-select panelClass="mat-select-custom-color" id="month" disableOptionCentering
                            [(ngModel)]="selectedMonth" (selectionChange)="onChangeMonth($event)">

                            <mat-option [value]="item" *ngFor="let item of months; let i = index ">
                                {{item}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>

                <button mat-raised-button aria-label="new job" (click)="openAddEmployeeDialog(null)">
                    <mat-icon class="mr-1">add</mat-icon><span>Add Employee</span>
                </button>

            </mat-toolbar>

      
        <app-list-view></app-list-view>

</section>




</div>
</div>
</section>
