<app-header></app-header>

<section class="banner-h-full d-flex align-items-start align-items-md-center py-4">
  <div class="container-fluid custom_width_account">
    <div class="home">
      <div class="row">
        <div class="col-lg-6 order-lg-2 offset-md-1 offset-lg-1">
          <!-- <img src="assets/img/Que_3_graphics.svg" class="square rightimg img-fluid" data-wow-delay="0.6s"> -->
          <img src="assets/img/forgot_password.svg" class="rightimg">
        </div>
        <div class="col-sm-6 col-lg-5 order-lg-1 align-self-center">
          <h2> <strong>Forgot password?</strong> </h2>
          <p class="mb-1">Enter the email address associate  with your account</p>
          <div class="mb-4 text-mute">
            <small>We will email a link to reset your password</small>

          </div>
          <form class="mb-5 pb-5" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="email" class="form-control custom-input" id="email" placeholder="Email"
                formControlName="email" (keyup)="onKeyPress()" required>
              <div *ngIf="forgotPasswordFormControl.email.invalid && submitted">
                <div *ngIf="forgotPasswordFormControl.email?.errors.required">
                  <small class="form-text text-danger text-right">Enter your email</small>
                </div>
                <div *ngIf="forgotPasswordFormControl.email.touched && forgotPasswordFormControl.email?.errors.email">
                  <small class="form-text text-danger text-right">Enter valid email</small>
                </div>

              </div>
              <div *ngIf="isError && submitted">
                <small class="form-text text-danger text-right">Email not registered</small>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <button type="submit " class="btn solid-btn mr-4">Reset Password</button>
              <span class="form-font-size"> Didn't get email?
                <a role="button" class="text-primary" (click)="onResendEmail()">Resend email</a>
              </span>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
