<!-- <div class=main>
    <div class=header-blue bottom-border-1>
       <div>   
        <img src="assets/img/Mask Group 1.svg" class="img-margin">
       </div>
       <div class=mt-3 mb-1 font-weight-bold text-ellipsis>Collage Name</div>

    </div>
  
</div>

<div>
   <form #f = "ngForm">
  
      <input type="file" name="files" accept="image/*" (change)="onFileChanged($event)">
   
      <button type="submit" (click)="onLogoSubmit()" class="btn btn-primary">Submit</button>
      </form>
</div>
<div class=main>
<div class=body-white>
   <div class=content content-flex *ngFor ="let Cdetails of collageData">
    <div class=label>
        <div class="scrollbar">
        <li>Collage Name: {{Cdetails.name}}</li>
        <li>location: {{Cdetails.location}}</li>
    
        <li>country:  {{Cdetails.state.country.countryName}}</li>
        <li>state:  {{Cdetails.state.stateName}}</li>

        <li>contactPer1: {{Cdetails.contactPer1}}</li>
        <li>contactPer2: {{Cdetails.contactPer2}}</li>
       
        <li>contactEmail1:{{Cdetails.contactEmail1}}</li>
        <li>contactEmail2: {{Cdetails.contactEmail2}}</li>
       
       <li> contactPer1ContactNo: {{Cdetails.contactPer1ContactNo}}</li>
       <li> contactPer2ContactNo: {{Cdetails.contactPer2ContactNo}}</li>
      
       <div>
       <div *ngIf="isShowmore" >
       <li> grade:{{Cdetails.grade}} </li>
       <li> yearOfEsta:{{Cdetails.yearOfEsta}} </li>
       <li> accredation: {{Cdetails.accredation}}</li>
      <li>  status: {{Cdetails.status}}</li>
      <li>  collgeBio: </li>
       <li> department: </li>
       <li> university:{{Cdetails.university.universityName}} </li>

         <li>   contactPer1: </li>
         <li>   contactPer2: </li>
          <li>  contactPer3: </li>
    
          <li>  contactEmail1:</li>
          <li>  contactEmail2: </li>

          <li>  contactPer1ContactNo: </li>
          <li> contactPer2ContactNo: </li>
   
          <li>  grade: </li>
          <li>  yearOfEsta: </li>
          <li>  accredation: </li>
          <li>  status: </li>
           <li> collgeBio: </li>
           
           <li> approvedStatus: </li>
        </div>
<a (click)="toggleContent()"><img src="../../../../../../assets/img/collageBG//showmore.svg" alt=""></a>
        
    </div>
   
   </div>
</div>
</div> -->


<mat-card class="card-layout">

   <div class="detail-header text-center ">
      <div class="text-end">
         <button mat-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
         </button>

      </div>
      <img [src]="collageDetails.collegeImage" alt="" class="img-avatar mb-2">
      <p>{{collageDetails.name}}</p>
   </div>
   <div class="row pl-3 pr-3 pt-3 pb-0" [ngStyle]="{'overflow-y':isShowmore==true ? 'scroll' : 'hidden' }">
      <div class="col-md-5 left-side-content">
         <div>
            <p>Location</p>

            <p>Country </p>
            <p>State </p>

            <p>Contact Person-1 </p>
            <p>Contact Person-2</p>

            <p>Contact Email-1</p>
            <p>Contact Email-2</p>

            <p>Person-1 Contact No</p>
            <p>Person-2 Contact No</p>
         </div>
         <div *ngIf="isShowmore">
            <p>University</p>

            <p>Year of Esta </p>
            <p>Grade </p>

            <p>Accredation </p>

         </div>

      </div>
      <div class="col-md-1 mt-3 mb-3">
         <div class="dot"></div>
         <div [ngClass]="{
            'vl-more':isShowmore === true,
            'vl':isShowmore === false
          }"></div>
         <div class="dot"></div>
      </div>
      <div class="col-md-6">
         <div>
            <p>{{collageDetails.location}}</p>

            <p>{{collageDetails.country.countryName}} </p>
            <p>{{collageDetails.state.stateName}} </p>

            <p>{{collageDetails.contactPer1}} </p>
            <p>{{collageDetails.contactPer2}}</p>

            <p>{{collageDetails.contactEmail1}}</p>
            <p>{{collageDetails.contactEmail2}}</p>

            <p> {{collageDetails.contactPer1ContactNo}}</p>
            <p> {{collageDetails.contactPer2ContactNo}}</p>
         </div>
         <div *ngIf="isShowmore">
            <p>{{collageDetails.university.universityName}}</p>

            <p>{{collageDetails.yearOfEsta}} </p>
            <p>{{collageDetails.grade}} </p>

            <p>{{collageDetails.accredation}} </p>

         </div>
      </div>
   </div>
   <div class="text-center">
      <img src="assets/img/collageBG/showmore.svg" alt="" (click)="isShowmore=!isShowmore">

   </div>

</mat-card>