<section class="banner-h-full d-flex align-items-start  py-4">
    <div class="container-fluid custom_width flex-container bg">
        <div class="centerBox">
          <div class="table-responsive flex-item item-box">
          
          <div class="conatiner">
              <div class="header bottom-border-1 ">
                <div class="row">
                  
                    <div class="profile-center">
                      

                            <img src="assets/img/Mask Group 1.svg" class="img-margin">
                            <div class="mt-3 mb-1 font-weight-bold text-ellipsis">ghhhh</div>
                           
                       
                    </div>
                  
                </div>
              </div>
              <div class="body">
                  <div class="body-flex">
                      <div class="label">
                          <h1> {{collageData | json}}</h1>

                          {{collageDetails | json}}
                      </div>
                      <div class="line"></div>
                      <div class="label-info"></div>
                  </div>
              </div>
              <div class="footer">
                  <div class="read-more">

                  </div>
              </div>
          </div>
          
        </div>
        </div>
    </div>
</section>