::ng-deep.mat-dialog-container {
  padding: 0px !important;
}
.main {
  box-sizing: border-box;
  height: auto;
  width: 485px;
  border: 0px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.15);
}

.header-blue {
  background: #005ba9;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
}

.bottom-border-1 {
  border-bottom: 8px solid #ffe600;
}

.content-flex{
  display: flex;
 
}
.scrollbar{
  overflow-y: scroll;
  height: 335px;
}