<div class="mainlayout">
    <div>
        <app-header></app-header>
    </div>


    <div class="bodyPart bg-more">
        <section class="banner-h-full d-flex align-items-start  py-4 bg">
            <div class="container-fluid custom_width">
                <div class="row">
                    <div class="col-md-6">
                        <div class="imgring"><img src="assets/img/morecollage.svg" class="w-100"> </div>
                    </div>
                    <div class="col-md-6 cu-input">
                        <div class="center addmoretitle">
                          <span class="uderline">  Add More collage Information </span>  
                            

                        </div>
                        <!--start-->
                        <div class="row">
                            <div class="col-md-6"> <input type="text" placeholder="College Name"></div>
                            <div class="col-md-6"> <input type="text" placeholder="Contact Number"></div>
                        </div>
                        <!--end-->
                        <!--start-->
                        <div class="row space-m">
                            <div class="col-md-6"> <input type="text" placeholder="College Location"></div>
                            <div class="col-md-6"> <input type="text" placeholder="College Grade"></div>
                        </div>
                    <!--end-->
                    <!--start-->
                    <div class="row space-m">
                        <div class="col-md-6"> <input type="text" placeholder="College Location"></div>
                        <div class="col-md-6"> <input type="text" placeholder="College Year of Established"></div>
                    </div>
                    <!--end-->
                        <!--start-->
                        <div class="row space-m">
                            <div class="col-md-6"> <input type="text" placeholder="Country"></div>
                            <div class="col-md-6"> <input type="text" placeholder="College Year of Established"></div>
                        </div>
                        <!--end-->
                           <!--start-->
                           <div class="row space-m">
                            <div class="col-md-6"> <input type="text" placeholder="State"></div>
                            <div class="col-md-6"> <input type="text" placeholder="College University Name"></div>
                        </div>
                        <!--end-->
                        <!--start-->
                        <div class="row space-m">
                        <div class="col-md-6"> <input type="text" placeholder="Placement officer 1"></div>
                        <div class="col-md-6"> <input type="text" placeholder="Placement officer 2"></div>
                    </div>
                    <!--end-->
                     <!--start-->
                     <div class="row space-m">
                        <div class="col-md-6"> <input type="text" placeholder="Placement Contact Number 1"></div>
                        <div class="col-md-6"> <input type="text" placeholder="Placement Contact Number 2"></div>
                    </div>
                    <!--end-->
                    <!--start-->
                    <div class="row space-m">
                    <div class="col-md-6"> <input type="text" placeholder="Placement Email 1"></div>
                    <div class="col-md-6"> <input type="text" placeholder="Placement Email 2"></div>
                </div>
                <!--end-->
                      <!--start-->
                      <div class="row space-m">
                        <div class="col-md-6"> <input type="text" placeholder="College University Affiliation"></div>
                        <div class="col-md-6"> <input type="text" placeholder="College Strength"></div>
                    </div>
                    <!--end-->
                            <!--start-->
                            <div class="row space-m">
                                <div class="col-md-6"> 
                                    <div><input type="text" placeholder="College Accredation"> </div>
                                    <div class=" space-m"><input type="text" placeholder="College Registration"> </div>
                                </div>
                                <div class="col-md-6">  <textarea placeholder="College Biography" rows="4" cols="30" ></textarea></div>
                            </div>
                            <!--end-->

                            <div class="center">
                                <button type="submit" class="btnsub"> Submit </button>
                            </div>
                </div>

                </div>
            </div>
        </section>

    </div>
    <div class="fitToBottom ">
        <app-footer></app-footer>
    </div>