



<div class="mainlayout">
    <div >
        <app-header></app-header>
        </div>


    <div class="bodyPart">
        <section class="banner-h-full d-flex align-items-start  py-4 bg">
            <div class="container-fluid custom_width">
        <div class="row">
            <div class="col-md-4 bgblue">
                <div ><img src="assets/img/addemp.svg" class="imgadd"> </div>
            </div>
            <div class="col-md-8">
                <div> Add more  Collage Information</div>
                <!--start-->
                <div class="row">
                <div class="col-md-4">   <input type="text" class="addempinput" placeholder="employee id"></div>
                <div class="col-md-4">   <input type="text" class="addempinput" placeholder="employee id"></div>    
                </div>
                <!--end-->
            </div>

        </div>
    </div>
    </section>

</div>
<div class="fitToBottom ">
     <app-footer></app-footer>
</div>