
.bgblue{
    background-color: #26579E;
}
.imgadd{
    width: 100%;
}
.addempinput{
    height: 33px;
    background: #f5f5f5;
    border-radius: 3px;
    border: none;
    padding: 10px 9px;
    width: 100%;
    font: normal normal normal 13px/70px Roboto;
    color: #ACACAC;
    
    }
    