<div class="side-menu">
  <nav class="menu-vc" *ngIf="showCommonSideMenu">
    <ul class="mcd-menu">
      <li>
        <img src="assets/img/menuIcons/menu-about.svg" class="imd-fluid" />
        <ul>
          <li>
            <a
              routerLink="/pages/our-journey"
              class=""
              (titleChanged)="changedTitle($event)"
              >OUR JOURNEY</a
            >
          </li>
          <li><a routerLink="/pages/leadership" class="">LEDERSHIP</a></li>
          <li>
            <a routerLink="/pages/mission-vision-value" class=""
              >MISSION VISION VALUES</a
            >
          </li>
          <li>
            <a routerLink="/pages/ourunits" class="">OUR UNITS </a>
          </li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-team.svg" class="imd-fluid" />

        <ul>
          <li><a routerLink="/pages/our-team" class="">OUR TEAM</a></li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-software.svg" class="imd-fluid" />

        <ul>
          <li>
            <a routerLink="/pages/development-process" class=""
              >DEVELOPMENT PROCESS</a
            >
          </li>
          <li>
            <a routerLink="/pages/skills-and-tools" class=""
              >SKILLS AND TOOLS</a
            >
          </li>
          <li><a routerLink="/pages/solutions" class="">SOLUTIONS</a></li>
        </ul>
      </li>

      <li>
        <img
          src="assets/img/menuIcons/menu-development.svg"
          class="imd-fluid"
        />

        <ul>
          <li><a routerLink="/mechatronics/offering" class="">OFFERING</a></li>
          <li>
            <a routerLink="/mechatronics/offering" class="">
              DEVELOPMENT PROCESS</a
            >
          </li>
          <li><a routerLink="/mechatronics/offering" class="">SKILLS</a></li>
          <li><a routerLink="/mechatronics/offering" class="">INFRA</a></li>
          <li><a routerLink="/mechatronics/offering" class="">CLIENTS</a></li>
          <li><a routerLink="/pages/gallary" class="">GALLARY</a></li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-casestudy.svg" class="imd-fluid" />
        <ul>
          <li>
            <a routerLink="/software/our-journey" class="">CASE STUDIES</a>
          </li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-career.svg" class="imd-fluid" />
        <ul>
          <li><a routerLink="/pages/careers" class="">CAREERS</a></li>
        </ul>
      </li>
      <li>
        <img src="assets/img/menuIcons/menu-gallery.svg" class="imd-fluid" />
        <ul>
          <li><a routerLink="/pages/gallary" class="">PRODECTS</a></li>
          <li><a routerLink="/pages/gallary" class="">TEAM MEMBERS</a></li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-clients.svg" class="imd-fluid" />

        <ul>
          <li><a routerLink="/pages/clients" class="">CLIENTS</a></li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-contact-us.svg" class="imd-fluid" />
        <ul>
          <li><a routerLink="/pages/contact-us" class="">CONTACTS US</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <nav class="menu-vc" *ngIf="!showCommonSideMenu && role == 'Admin'">
    <ul class="mcd-menu">
      <li>
        <img src="assets/img/menuIcons/menu-career.svg" class="imd-fluid" />

        <ul>
          <li><a routerLink="/dashboard/career" class="">CAREERS</a></li>
          <li>
            <a routerLink="/dashboard/job-application" class=""
              >JOB APPLICATION</a
            >
          </li>
        </ul>
      </li>
      <li>
        <img src="assets/img/menuIcons/menu-contact-us.svg" class="imd-fluid" />

        <ul>
          <li><a routerLink="/dashboard/contact-us" class="">CONTACT US</a></li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-team.svg" class="imd-fluid" />

        <ul>
          <li><a routerLink="/dashboard/team" class="">TEAM</a></li>
        </ul>
      </li>

      <li>
        <img src="assets/img/menuIcons/menu-clients.svg" class="imd-fluid" />

        <ul>
          <li><a routerLink="/dashboard/clients" class="">CLIENTS</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <nav class="menu-vc" *ngIf="!showCommonSideMenu && role == 'HR Manager'">
    <ul class="mcd-menu">
      <li>
        <img src="assets/img/menuIcons/menu-about.svg" class="imd-fluid" />
        <ul>
          <li>
            <a routerLink="/employeeMgnmt/employee-list-view">Employee</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<!-- <div class="how_works">
  <a href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="115" height="41" viewBox="0 0 167 61">
      <g id="How_it_works_button" data-name="How it works button" transform="translate(-1783.5 -43.327)">
        <rect id="Rectangle_8" data-name="Rectangle 8" width="166" height="60" rx="30"
          transform="translate(1784 43.827)" fill="#f8fafe" stroke="#b2b3b9" stroke-width="1" />
        <g id="Group_406" data-name="Group 406" transform="translate(44.299 13.412)">
          <path id="Path_240" data-name="Path 240"
            d="M3777.329,105.253a28.17,28.17,0,1,0-29.073,29.078c.308.009.615.015.914.015a28.169,28.169,0,0,0,28.16-29.093Zm-12.177,16.39a22.074,22.074,0,0,1-15.982,6.769c-.242,0-.485,0-.727-.012a22.24,22.24,0,0,1,.727-44.467c.243,0,.494,0,.737.011a22.242,22.242,0,0,1,15.245,37.7Z"
            transform="translate(-1978.574 -45.758)" fill="#0f6cb6" />
          <path id="Path_241" data-name="Path 241"
            d="M3761.04,107.444,3747.78,97.9a2.141,2.141,0,0,0-3.39,1.744v19.092a2.141,2.141,0,0,0,3.39,1.744l13.26-9.546A2.151,2.151,0,0,0,3761.04,107.444Z"
            transform="translate(-1980 -49)" fill="#0f6cb6" />
        </g>
        <text id="How_its_work" data-name="How it
         works" transform="translate(1857 72)" fill="#717780" font-size="20" font-family="Roboto-Medium, Roboto"
          font-weight="500">
          <tspan x="0" y="0">How it </tspan>
          <tspan x="0" y="20">works</tspan>
        </text>
      </g>
    </svg>
  </a>
</div> -->

<!-- <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" (click)="onResponsiveMenu()">&times;</a>
  <div class="overlay-content">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div> -->
<button class="tooglebtn" (click)="onResponsiveMenu()">Menu</button>
<div
  id="myNav"
  [ngClass]="{
    responsiveSideMenuOn: isResponsiveMenuOn,
    responsiveSideMenuOff: !isResponsiveMenuOn
  }"
  class="overlay"
>
  <a href="javascript:void(0)" class="closebtn" (click)="onResponsiveMenu()"
    >&times;</a
  >
  <div *ngIf="showCommonSideMenu" class="overlay-content">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-about.svg" />
          </mat-panel-title>
          <mat-panel-description> ABOUT US </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a
              routerLink="/pages/our-journey"
              (click)="onResponsiveMenu()"
              class=""
              (titleChanged)="changedTitle($event)"
              >OUR JOURNEY</a
            >
          </li>
          <li>
            <a
              routerLink="/pages/leadership"
              (click)="onResponsiveMenu()"
              class=""
              >LEDERSHIP</a
            >
          </li>
          <li>
            <a
              routerLink="/pages/mission-vision-value"
              (click)="onResponsiveMenu()"
              class=""
              >MISSION VISION VALUES</a
            >
          </li>
          <li>
            <a
              routerLink="/sister-companies"
              (click)="onResponsiveMenu()"
              class=""
              >SISTER COMPANIES</a
            >
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-team.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/pages/our-team"
              (click)="onResponsiveMenu()"
              class=""
              >OUR TEAM</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-software.svg" />
          </mat-panel-title>
          <mat-panel-description> SOFTWARE </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a
              routerLink="/pages/development-process"
              (click)="onResponsiveMenu()"
              class=""
              >DEVELOPMENT PROCESS</a
            >
          </li>
          <li>
            <a
              routerLink="/pages/skills-and-tools"
              (click)="onResponsiveMenu()"
              class=""
              >SKILLS AND TOOLS</a
            >
          </li>
          <li>
            <a
              routerLink="/pages/solutions"
              (click)="onResponsiveMenu()"
              class=""
              >SOLUTIONS</a
            >
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-development.svg" />
          </mat-panel-title>
          <mat-panel-description> DEVELOPMENT </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a
              routerLink="/mechatronics/offering"
              (click)="onResponsiveMenu()"
              class=""
              >OFFERING</a
            >
          </li>
          <li>
            <a
              routerLink="/mechatronics/offering"
              (click)="onResponsiveMenu()"
              class=""
            >
              DEVELOPMENT PROCESS</a
            >
          </li>
          <li>
            <a
              routerLink="/mechatronics/offering"
              (click)="onResponsiveMenu()"
              class=""
              >SKILLS</a
            >
          </li>
          <li>
            <a
              routerLink="/mechatronics/offering"
              (click)="onResponsiveMenu()"
              class=""
              >INFRA</a
            >
          </li>
          <li>
            <a
              routerLink="/mechatronics/offering"
              (click)="onResponsiveMenu()"
              class=""
              >CLIENTS</a
            >
          </li>
          <li>
            <a routerLink="/pages/gallary" (click)="onResponsiveMenu()" class=""
              >GALLARY</a
            >
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-casestudy.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/software/our-journey"
              (click)="onResponsiveMenu()"
              class=""
              >CASE STUDIES</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-career.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a routerLink="/pages/careers" (click)="onResponsiveMenu()" class=""
              >CAREERS</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-gallery.svg" />
          </mat-panel-title>
          <mat-panel-description> GALLERY </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a routerLink="/pages/gallary" (click)="onResponsiveMenu()" class=""
              >PRODECTS</a
            >
          </li>
          <li>
            <a routerLink="/pages/gallary" (click)="onResponsiveMenu()" class=""
              >TEAM MEMBERS</a
            >
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-clients.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a routerLink="/pages/clients" (click)="onResponsiveMenu()" class=""
              >CLIENTS</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-contact-us.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/pages/contact-us"
              (click)="onResponsiveMenu()"
              class=""
              >CONTACTS US</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-about.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/our-journey" (click)="onResponsiveMenu()" class="" (titleChanged)="changedTitle($event)">OUR JOURNEY</a> </li>
          <li> <a routerLink="/pages/leadership" (click)="onResponsiveMenu()" class="">LEDERSHIP</a> </li>
          <li> <a routerLink="/pages/mission-vision-value" (click)="onResponsiveMenu()" class="">MISSION VISION VALUES</a></li>
          <li> <a routerLink="/sister-companies" (click)="onResponsiveMenu()" class="">SISTER COMPANIES</a> </li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-team.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/our-team" (click)="onResponsiveMenu()" class="">OUR TEAM</a> </li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-software.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/development-process" (click)="onResponsiveMenu()" class="">DEVELOPMENT PROCESS</a> </li>
          <li> <a routerLink="/pages/skills-and-tools" (click)="onResponsiveMenu()" class="">SKILLS AND TOOLS</a> </li>
          <li> <a routerLink="/pages/solutions" (click)="onResponsiveMenu()" class="">SOLUTIONS</a></li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-development.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/mechatronics/offering" (click)="onResponsiveMenu()" class="">OFFERING</a> </li>
          <li> <a routerLink="/mechatronics/offering" (click)="onResponsiveMenu()" class=""> DEVELOPMENT PROCESS</a> </li>
          <li> <a routerLink="/mechatronics/offering" (click)="onResponsiveMenu()" class="">SKILLS</a></li>
          <li> <a routerLink="/mechatronics/offering" (click)="onResponsiveMenu()" class="">INFRA</a> </li>
          <li> <a routerLink="/mechatronics/offering" (click)="onResponsiveMenu()" class="">CLIENTS</a> </li>
          <li> <a routerLink="/pages/gallary" (click)="onResponsiveMenu()" class="">GALLARY</a></li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-casestudy.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/software/our-journey" (click)="onResponsiveMenu()" class="">CASE STUDIES</a> </li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-career.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/careers" (click)="onResponsiveMenu()" class="">CAREERS</a> </li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-gallery.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/gallary" (click)="onResponsiveMenu()" class="">PRODECTS</a> </li>
          <li> <a routerLink="/pages/gallary" (click)="onResponsiveMenu()" class="">TEAM MEMBERS</a> </li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-clients.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/clients" (click)="onResponsiveMenu()" class="">CLIENTS</a> </li>
        </ul>
      </div>
    </div>
  
    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-contact-us.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/pages/contact-us" (click)="onResponsiveMenu()" class="">CONTACTS US</a> </li>
        </ul>
      </div>
    </div> -->
  </div>

  <div *ngIf="!showCommonSideMenu && role == 'Admin'" class="overlay-content">
    <mat-accordion style="background-color: chartreuse">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-career.svg" />
          </mat-panel-title>
          <mat-panel-description> CAREERS </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a
              routerLink="/dashboard/career"
              (click)="onResponsiveMenu()"
              class=""
              >CAREERS</a
            >
          </li>
          <li>
            <a
              routerLink="/dashboard/job-application"
              (click)="onResponsiveMenu()"
              class=""
              >JOB APPLICATION</a
            >
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-contact-us.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/dashboard/contact-us"
              (click)="onResponsiveMenu()"
              class=""
              >CONTACT US</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-team.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/dashboard/team"
              (click)="onResponsiveMenu()"
              class=""
              >TEAM</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-clients.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/dashboard/clients"
              (click)="onResponsiveMenu()"
              class=""
              >CLIENTS</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-career.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/dashboard/career" (click)="onResponsiveMenu()" class="">CAREERS</a> </li>
          <li> <a routerLink="/dashboard/job-application" (click)="onResponsiveMenu()" class="">JOB APPLICATION</a></li>
        </ul>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-contact-us.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/dashboard/contact-us" (click)="onResponsiveMenu()" class="">CONTACT US</a> </li>
        </ul>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-team.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/dashboard/team" (click)="onResponsiveMenu()" class="">TEAM</a></li>
        </ul>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-clients.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/dashboard/clients" (click)="onResponsiveMenu()" class="">CLIENTS</a> </li>
        </ul>
      </div>
    </div> -->
  </div>

  <div
    *ngIf="!showCommonSideMenu && role == 'HR Manager'"
    class="overlay-content"
  >
    <mat-accordion>
      <mat-expansion-panel [hideToggle]="true" class="no-body">
        <mat-expansion-panel-header class="no-body">
          <mat-panel-title>
            <img src="assets/img/menuIcons/menu-about.svg" />
          </mat-panel-title>
          <mat-panel-description>
            <a
              routerLink="/employeeMgnmt/employee-list-view"
              (click)="onResponsiveMenu()"
              >Employee</a
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <div class="row" >
      <div class="col">
        <ul>
          <li><img src="assets/img/menuIcons/menu-about.svg" >  </li>
        </ul>
      </div>
      <div class="col-md-auto">
        <ul>
          <li> <a routerLink="/employeeMgnmt/employee-list-view" (click)="onResponsiveMenu()">Employee</a> </li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
