
    .dialog-head-font{
      color: #1b3b6b;
      font-size: 16px !important;
      font-weight: 500;
      margin-bottom: 4px  ;
    }

    .dialog-subhead-font{
      color:  #86888B;
      font-size: 13px;
    }
    .bgc{
      // background-image: url('assets/img/career/Intersect.svg');
      background-repeat: no-repeat;
      background-position-y: 36vh;
      background-position-x: -26px;
    }
    .solid-btn {
      font-weight: 400;
      color: #fff;
      background-color: #4567AB;
      font-size: 0.8rem;
      line-height: 1.5;
      border-radius: 8.25rem;
    
    }
    .mab-5 {
      margin-bottom: 10px;
    border-bottom: 1px  solid #f3f3f3;
    padding-bottom: 8px;
    }