<app-header></app-header>
<section class="banner-h-full d-flex align-items-start align-items-md-center py-4">
    <div class="container-fluid custom_width_account">
      <div class="home">
        <div class="row">
          <div class="row">
              <div class="col-12">
                  <h3>Privacy And Policy</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur error numquam dolorem neque, obcaecati necessitatibus non id soluta molestiae beatae quae maxime et omnis cumque eum, harum, minus eaque. Labore magni recusandae error ratione aliquid, modi ad quia, debitis fuga deserunt saepe architecto expedita cumque excepturi enim laborum quo!</p>
                  
                </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
