<app-header></app-header>

<section class="banner-h-full d-flex align-items-start align-items-md-center py-4">
    <div class="container-fluid custom_width_account">
      <div class="home">
        <div class="row">
          <div class="col-lg-6 order-lg-2 offset-md-1 offset-lg-1">

            <img src="assets/img/Que_3_graphics.svg" class="square rightimg img-fluid" data-wow-delay="0.6s">
          </div>
          <div class="col-sm-6 col-lg-5 order-lg-1 align-self-center">
              <h2 > <strong>Change password</strong> </h2>
              <p class="mb-4">Change your new password below</p>
              <form class="mb-5 pb-5" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="password" class="form-control custom-input" id="old-password" placeholder="Old password" formControlName="oldPassword" (keyup)="onKeyPress()" required>
                    <div *ngIf="changeFormControl.oldPassword.invalid && submitted">
                      <div *ngIf="changeFormControl.oldPassword?.errors.required">
                        <small class="form-text text-danger text-right">Enter your old password</small>
                      </div>

                    </div>
                    <div *ngIf="isError && submitted">
                        <small class="form-text text-danger text-right">{{errorMsg}}</small>

                    </div>
                  </div>
                <div class="form-group">
                    <input type="password" class="form-control custom-input" id="password" placeholder="Create password" formControlName="password" required>
                    <div *ngIf="changeFormControl.password.invalid && submitted">
                      <div *ngIf="changeFormControl.password?.errors.required">
                        <small class="form-text text-danger text-right">Enter your password</small>
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control custom-input" id="confirm-password" placeholder="Confirm password" formControlName="confirmPassword" required>
                    <div *ngIf="changeFormControl.confirmPassword.invalid && submitted">
                      <div *ngIf="changeFormControl.confirmPassword?.errors.required">
                        <small class="form-text text-danger text-right">Confirm your password</small>
                      </div>
                      <div *ngIf="changeFormControl.confirmPassword?.errors.passwordMismatch && submitted">
                        <small class="form-text text-danger text-right">Password Mismatch </small>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <button type="submit " class="btn solid-btn  mr-4" >Change Password</button>

                  </div>



              </form>

          </div>
        </div>
      </div>
    </div>

  </section>

  <app-footer></app-footer>
