<section class="banner-h-full d-flex align-items-start mt-5">
    <div class="container-fluid custom_width">
      <div class="home">
        <div class="row spacing mr-md-5 mr-lg-5 mr-xl-5 mr-xxl-5" *ngFor="let d of data; let i=index">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 " [ngClass]="{ 'order-md-1':(i%2)==0,'order-lg-1':(i%2)==0,'order-xl-1':(i%2)==0,'order-xxl-1':(i%2)==0, 'order-md-2':(i%2)!=0,'order-lg-2':(i%2)!=0,'order-xl-2':(i%2)!=0,'order-xxl-2':(i%2)!=0, 'order-sm-2':(i%2)!=0 || (i%2)==0}">
            <h2><strong>{{d.title}}</strong></h2>
            <!-- <h4><strong>{{d.subtitle}}</strong></h4> -->
            <p>{{d.info}}</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aperiam commodi quibusdam quia nisi, repellat at fuga adipisci quis aspernatur amet eaque temporibus consequuntur quod aliquam voluptatibus minus ut nesciunt harum modi mollitia repellendus! Asperiores adipisci iste debitis, rerum laudantium facere assumenda possimus nam odio doloremque a reprehenderit quas iusto culpa architecto, illum corporis aliquam ut voluptate vel. Eligendi veniam architecto obcaecati molestias consectetur natus tenetur aliquam voluptate saepe facere?</p>
        </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"  [ngStyle]="{'text-align':(i%2)!=0 ? 'start' : 'end' }" [ngClass]="{'order-md-1':(i%2)!=0,'order-lg-1':(i%2)!=0,'order-xl-1':(i%2)!=0,'order-xxl-1':(i%2)!=0, 'order-md-2':(i%2)==0,'order-lg-2':(i%2)==0,'order-xl-2':(i%2)==0,'order-xxl-2':(i%2)==0,   'order-sm-1':(i%2)!=0 || (i%2)==0} ">
              <img  class="img" [src]="d.imgUrl" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

