<div mat-dialog-content>
    <div class="row addempop">
        <div class="col-md-4 bgblue"><img src="assets/img/addemp.svg" class="imgadd"> </div>
        <div class="col-md-8">
            <div class="text-center">

                <h3 class="text-color font-weight-bold">Basic College Information</h3>
            </div>
            <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College Name"
                                formControlName="collegeName" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.collegeName.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.collegeName?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter college name</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput" placeholder="College Location"
                                formControlName="location" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.location.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.location?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter college location</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="Country"
                                formControlName="country" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.country.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.country?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter country</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group" >
                            <input type="text" class="addcollegeinput " placeholder="State"
                                formControlName="state" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.state.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.state?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter state</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="Contact Person Name 1"
                                formControlName="contactPerName1" maxlength="80" required>
                                <div *ngIf="basicInfoFormControls.contactPerName1.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.contactPerName1?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter first contact person name</small>
                                    </div>
                                    <div *ngIf="basicInfoFormControls.contactPerName1?.errors?.pattern">
                                        <small class="form-text text-danger text-right">Enter valid name</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="addcollegeinput " placeholder="Contact Person Email ID 1"
                                formControlName="contactPerEmail1" maxlength="100" required>
                                <div *ngIf="basicInfoFormControls.contactPerEmail1.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.contactPerEmail1?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter first contact person email id</small>
                                    </div>
                                    <div *ngIf="basicInfoFormControls.contactPerEmail1?.errors?.email">
                                        <small class="form-text text-danger text-right">Enter valid email id</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="Contact Person Name 2"
                                formControlName="contactPerName2" maxlength="80" required>
                                <div *ngIf="basicInfoFormControls.contactPerName2.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.contactPerName2?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter second contact person name</small>
                                    </div>
                                    <div *ngIf="basicInfoFormControls.contactPerName2?.errors?.pattern">
                                        <small class="form-text text-danger text-right">Enter valid name</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="addcollegeinput " placeholder="Contact Person Email ID 2"
                                formControlName="contactPerEmail2" maxlength="100" required>
                                <div *ngIf="basicInfoFormControls.contactPerEmail2.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.contactPerEmail2?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter second contact person email id</small>
                                    </div>
                                    <div *ngIf="basicInfoFormControls.contactPerEmail2?.errors?.email">
                                        <small class="form-text text-danger text-right">Enter valid email id</small>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="addcollegeinput " placeholder="Contact Person-1 Number"
                                formControlName="contactPer1ContactNo" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.contactPer1ContactNo.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.contactPer1ContactNo?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter first person contact number</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="addcollegeinput " placeholder="Contact Person-2 Number"
                                formControlName="contactPer2ContactNo" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.contactPer2ContactNo.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.contactPer2ContactNo?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter second person contact number</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College Grade"
                                formControlName="grade" maxlength="5">
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College Year of Established"
                                formControlName="yearOfEsta" maxlength="5" >
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College University Affiliation"
                                formControlName="CollegeUniAffilation" maxlength="50" required>
                                <div *ngIf="basicInfoFormControls.CollegeUniAffilation.invalid  && submitted">
                                    <div *ngIf="basicInfoFormControls.CollegeUniAffilation?.errors?.required">
                                        <small class="form-text text-danger text-right">Enter ocllege university affilation</small>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College Accredation"
                                formControlName="accredation" maxlength="20" >
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College University"
                                formControlName="university" maxlength="50" >
                        </div>
                        <div class="form-group">
                            <input type="text" class="addcollegeinput " placeholder="College Biography"
                                formControlName="collgeBio" maxlength="100" >
                        </div>

                    </div>
                </div>
                <div class="text-center">

                    <button type="submit" class="btn solid-btn">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div> -->
