<section class="banner-h-full d-flex align-items-start align-items-md-center">
  <div class="container-fluid">
    <!-- custom_width -->
    <div class="home topspace">
      <section>
        <div class="bg1">
          <div class="l-space">
            <div class="row">
              <div class="col-md-6 skill-order-2">
                <div>
                  <div class="title">
                    <span class="underline">UI / UX </span>
                    <span class="blueline"></span>
                  </div>
                  <div class="textdata">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 skill-order-1">
                <div class="right-img">
                  <img src="assets/img/skills&tools/UIde.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 2 section-->
      <section class="sec-sction section-bg-color">
        <div class="bg2">
          <div class="l-space">
            <div class="row">
              <div class="col-md-6 skill-order-1">
                <div class="right-img t-l mm-10">
                  <img src="assets/img/skills&tools/FE.svg" />
                </div>
              </div>

              <div class="col-md-6 skill-order-2">
                <div>
                  <div class="title">
                    <span class="underline">Front end </span>
                    <span class="blueline"></span>
                  </div>
                  <div class="textdata">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--end-->

      <section class="sec-sction">
        <div class="bg1">
          <div class="l-space">
            <div class="row">
              <div class="col-md-6 skill-order-2">
                <div>
                  <div class="title">
                    <span class="underline">Databases </span>
                    <span class="blueline"></span>
                  </div>
                  <div class="textdata">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 skill-order-1">
                <div class="right-img mm-10">
                  <img src="assets/img/skills&tools/Database.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 2 section-->
      <section class="sec-sction section-bg-color">
        <div class="bg2">
          <div class="l-space">
            <div class="row">
              <div class="col-md-6 skill-order-1">
                <div class="right-img t-l mm-10">
                  <img src="assets/img/skills&tools/testing.svg" />
                </div>
              </div>

              <div class="col-md-6 skill-order-2">
                <div>
                  <div class="title">
                    <span class="underline">Testing </span>
                    <span class="blueline"></span>
                  </div>
                  <div class="textdata">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--end-->

      <section class="sec-sction">
        <div class="bg1">
          <div class="l-space">
            <div class="row">
              <div class="col-md-6 skill-order-2">
                <div>
                  <div class="title">
                    <span class="underline"> Cloud & DevOps </span>
                    <span class="blueline"></span>
                  </div>
                  <div class="textdata">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 skill-order-1">
                <div class="right-img mm-10">
                  <img src="assets/img/skills&tools/devops.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 2 section-->
      <section class="sec-sction section-bg-color">
        <div class="bg2">
          <div class="l-space">
            <div class="row">
              <div class="col-md-6 skill-order-1">
                <div class="right-img t-l mm-10">
                  <img src="assets/img/skills&tools/Architecture.svg" />
                </div>
              </div>

              <div class="col-md-6 skill-order-2">
                <div>
                  <div class="title">
                    <span class="underline">Architecture </span>
                    <span class="blueline"></span>
                  </div>
                  <div class="textdata">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--end-->
    </div>
  </div>
</section>
