table {
    width: 100%;
  }
  .bg{
    background-image: url('../../../../../../assets/img/collageBG/bg1.svg');
    // background-color: #0F6CB6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  