<section class="banner-h-full d-flex align-items-start  py-4 bg">
  <div class="container-fluid custom_width ">
    <div class="home cc-table">

      <div class="row">
        <div class="col-md-9">
         

          <div   class="filterline">
            <span class="ml-3">Filetr By: </span>
            <mat-form-field *ngFor="let filter of filterSelectObj">
  
              <mat-label>Filter {{filter.name}}</mat-label>
              <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                (change)="filterChange(filter,$event)">
                <option value="">-- Select {{filter.name}} --</option>
                <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
              </select>
    
    
            </mat-form-field>
          </div>
     
        </div>

        <div class="col-md-3">
          <div class="rbtn">
         
            <button mat-icon-button aria-label="view_list" (click)="ViewListOfCollage('collageList')">
              <mat-icon [ngStyle]="{'color':'#0F6CB6'}" class="mr-2">view_list</mat-icon>
            </button>
            <button mat-icon-button aria-label="grid_view" (click)="GrigListOfCollage('collageGrid')">
              <mat-icon [ngStyle]="{'color':'#0F6CB6'}" class="mr-2">
                grid_view</mat-icon>
            </button>
    
    
            <button mat-raised-button class="bluebtn" aria-label="new job" (click)="openAddCollageDialog(null)">
              <mat-icon class="mr-1">add</mat-icon><span>Add collages</span>
            </button>
          </div>
       
  
        </div>

      </div>


      <div class="table-responsive-c table-responsive ">
        <table mat-table [dataSource]="dataSource">
          <div class="table-data">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element">
                <div class="img_txt">
                  <div class="img">
                 
                  </div>

                  <div>
                    <div>
                      {{element.name}}
                    </div>
                    <div> {{element.location}} </div>
                  </div>
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef> Country </th>
              <td mat-cell *matCellDef="let element"> {{element.country?.countryName}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> Satet </th>
              <td mat-cell *matCellDef="let element"> {{element.state?.stateName}} </td>
            </ng-container>

            <ng-container matColumnDef="contactPer1">
              <th mat-header-cell *matHeaderCellDef> Conatact person Name </th>
              <td mat-cell *matCellDef="let element"> {{element.contactPer1}} </td>
            </ng-container>


            <ng-container matColumnDef="contactEmail1">
              <th mat-header-cell *matHeaderCellDef> Conatct person email </th>
              <td mat-cell *matCellDef="let element"> {{element.contactEmail1}} </td>
            </ng-container>

            <ng-container matColumnDef="contactPer1ContactNo">
              <th mat-header-cell *matHeaderCellDef> Conatct person contact </th>
              <td mat-cell *matCellDef="let element"> {{element.contactPer1ContactNo}} </td>
            </ng-container>

            <ng-container matColumnDef="grade">
              <th mat-header-cell *matHeaderCellDef> Grade </th>
              <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
            </ng-container>




            <ng-container matColumnDef="yearOfEsta">
              <th mat-header-cell *matHeaderCellDef> Year of establish </th>
              <td mat-cell *matCellDef="let element"> {{element.yearOfEsta}} </td>
            </ng-container>

            <ng-container matColumnDef="accredation">
              <th mat-header-cell *matHeaderCellDef> Accredation </th>
              <td mat-cell *matCellDef="let element"> {{element.accredation}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th class="header action" mat-header-cell *matHeaderCellDef>
                <span>Action</span>
              </th>
              <!-- <td class="state-cell" mat-cell *matCellDef="let row">{{getStatusColor(row.status)}}</td> -->
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" yPosition="below">

                  <button mat-menu-item mat-menu-item (click)="openDeleteCollageDialog(element.name)">
                    Delete {{element.name}}
                  </button>
                  <!-- <a [routerLink]="['./edit-rate-profiles',row.profilename]" >Edit</a>  -->
                  <button mat-menu-item mat-menu-item (click)="openUpdateCollageeDialog(element)">
                    Update
                  </button>

                  <button mat-menu-item mat-menu-item (click)="openViewCollageeDialog(element.name)">
                    View
                  </button>

                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </div>
        </table>
        <mat-paginator appCustomPagination [showTotalPages]="3" [length]="recordLength" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</section>