
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
  color: #afb5bb;
  opacity: 1; /* Firefox */

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #afb5bb;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #afb5bb;
}


.custom-input{
    height: 2.5rem;
    font-size: 0.8rem;

    color: #000000de;
    background-color: #ced4da29;
    border: 1px solid #ced4da29;
}

.form-font-size {
    font-size: 0.8rem;
}

::ng-deep .blue-snackbar {
  color: white;
  background: #1145A5;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .success-snackbar {
  color: white;
  background: green;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .solid-btn {
  font-weight: 400;
  color: #fff;
  background-color: #4567AB;
  font-size: 0.8rem;
  line-height: 1.5;
  width: 8rem;
  height: 2.5rem;
  border-radius: 8.25rem;

}

.dialog-header{
  color: #26579E;

}

.custom-select-box{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: none;
}

.custom-select-box-margin{
  margin-top: -12px !important;
}

