table {
    width: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #0000001f;
    border-left-color: #f8f8f8;
    border-right-color: #f8f8f8;
    border-top-color: #f8f8f8;
    background: #fff;
    color: #26579E
  }

  table.mat-table {
    // border-spacing: 0;

  border: 0px solid #ECECEC61;
  // border-bottom-left-radius: 25px;
  // border-bottom-right-radius: 25px;

  }

  .career-table {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 10px;


  .mat-column-action {
    flex: 0 0 1% !important;
    width: 1% !important;
    }

    .mat-cell,.mat-header-cell{
      white-space: nowrap;
      padding: 5px 6px;
      border-top: none;
    }

    .mat-cell:nth-child(1), .mat-header-cell:nth-child(1) {
      width: 90px;
    }
    .mat-cell:nth-child(2), .mat-header-cell:nth-child(2) {
      width: 140px;
    }
    .mat-cell:nth-child(3), .mat-header-cell:nth-child(3) {
      width: 200px;
    }
    .mat-cell:nth-child(4), .mat-header-cell:nth-child(4) {
      width: 120px;
    }
    .mat-cell:nth-child(5), .mat-header-cell:nth-child(5) {
      width: 130px;
    }
    .mat-cell:nth-child(6), .mat-header-cell:nth-child(6) {
      width: 200px;
    }
    .mat-cell:nth-child(7), .mat-header-cell:nth-child(7) {
      width: 100px;
    }
    .mat-cell:nth-child(8), .mat-header-cell:nth-child(8) {
      width: 110px;
    }
    .mat-cell:nth-child(9), .mat-header-cell:nth-child(9) {
      width: 110px;
    }
    .mat-cell:nth-child(10), .mat-header-cell:nth-child(10) {
      width:200px;
    }
    .mat-cell:nth-child(11), .mat-header-cell:nth-child(11) {
      width: 200px;
    }
    .mat-cell:nth-child(12), .mat-header-cell:nth-child(12) {
      width: 200px;
    }


  }
  .table-responsive-c {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
