<section
  class="banner-h-full d-flex align-items-start align-items-md-center py-4"
>
  <div class="container-fluid custom_width">
    <div class="home">
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-7 col-xxl-7 order-lg-2"
        >
          <img src="assets/img/Home.svg" class="rightimg img-fluid" />
        </div>
        <div
          class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-5 col-xxl-5 order-lg-1"
        >
          <div class="title-top-space">
            <div class="creats">We drive</div>
            <div class="d-flex flex-column justify-content-start">
              <div class="title-in f-3">
                Emphasize "End to End product development."
                <!-- End to end product <br />
                Development -->
              </div>

              <div class="title-in sub-f">(Physical and Digital)</div>
            </div>
          </div>

          <div class="about">
            Our 100+ experts are excited to convert your ideas into a perfect
            product that can scale securely to any extent to cater to your
            needs. We also provide staffing solutions and have the excellent
            consulting capability in various domains. (Talk to us) to experience
            an incredible journey for your products.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
