

.custom-input{
    height: 2.5rem;
    font-size: 0.8rem;
    color: #afb5bb;
    background-color: #ced4da29;
    border: 1px solid #ced4da29;
}

.form-font-size {
    font-size: 0.8rem;
}

.custom-select-box{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    border: none;
  }


::ng-deep .mat-step-label{
    min-width: 0px !important;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 12px !important;
    border-top-style: solid;
    flex: auto;
    height: 0px;
    margin: 0 -24px !important;
    min-width: 32px;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0px !important;
    flex: none;
}

::ng-deep .mat-radio-outer-circle {
    height: 15px !important;
    width: 15px !important;
    top: 3px !important;
    left: 3px !important;
    border-width: 1px !important;
}
::ng-deep .mat-radio-inner-circle{
    height: 15px !important;
    width: 15px !important;
    top: 3px !important;
    left: 3px !important;
}

::ng-deep .mat-radio-label {
    margin-bottom: 0px!important;
}

::ng-deep .solid-btn {
    font-weight: 400;
    color: #fff;
    background-color: #4567AB;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 8rem;
    height: 2.5rem;
    border-radius: 8.25rem;

  }


.bgblue{
    background-color: #26579E;
}
.imgadd{
    width: 100%;
}
.addempinput{
height: 33px;
background: #f5f5f5;
border-radius: 3px;
border: none;
padding: 10px 9px;
width: 100%;
font: normal normal normal 13px/70px Roboto;
color: #ACACAC;

}


.r-space{
    margin-left: 15px;
    margin-top: 9px;
    input {
        position: relative;
        top: 2px;
        margin-left: 10px;

    }
}

