<div mat-dialog-content>
    <div class="row addempop">
      <div class="col-md-3 bgblue"><img src="assets/img/addemp.svg" class="imgadd"> </div>
      <div class="col-md-9">
                  <h3>Basic College Information</h3>
                  <form [formGroup]="basicInfoForm" (ngSubmit)="submitCollageForm()">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="College name" name="collegeName" formControlName="collegeName"
                   (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Location" formControlName="location"
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Contact Person Name 1" formControlName="contactPerName1"
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person Name 2" formControlName="contactPerName2"
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person Name 3" formControlName="contactPerName3"
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person Name 4" formControlName="contactPerName4"
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person Name 5" formControlName="contactPerName5"
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="grade" formControlName="grade"
                  (blur)="onBlurMethod($event)">
                </div>

                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Contact Person 4 contact No" 
                  formControlName="contactPer4ContactNo"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Contact Person 5 contact No" 
                  formControlName="contactPer5ContactNo"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Accredation" 
                  formControlName="accredation"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Country" formControlName="country"  
                  (blur)="onBlurMethod($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person email 1" 
                  formControlName="contactPerEmail1"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person email 2" 
                  formControlName="contactPerEmail2"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person email 3" 
                  formControlName="contactPerEmail3"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person email 4" 
                  formControlName="contactPerEmail4"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="contact Person email 5" 
                  formControlName="contactPerEmail5"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Contact Person contact no" 
                  formControlName="contactPer1ContactNo"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Contact Person 2 contact no" 
                  formControlName="contactPer2ContactNo"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="Contact Person 3 contact no" 
                  formControlName="contactPer3ContactNo"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="year Of Esta" formControlName="yearOfEsta" 
                  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="university" formControlName="university"
                  (blur)="onBlurMethod($event)">
                  <!-- <mat-form-field>
                    <mat-select panelClass="mat-select-custom-color" id="location" disableOptionCentering
                        [(ngModel)]="selectUniversityNgModel" formControlName="university">

                        <mat-option [value]="item" *ngFor="let item of UniversityGetArray; let i = index ">
                            {{item.universityName}}
                        </mat-option>
                    </mat-select>

                </mat-form-field> -->
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="state" formControlName="state"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="College Affilation" 
                  formControlName="CollegeUniAffilation"  (blur)="onBlurMethod($event)">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="addempinput" placeholder="collge Bio" formControlName="collgeBio"  
                  (blur)="onBlurMethod($event)">
                </div>
              
              </div>
              <div class="mt-4 float-right">
                <button type="submit " class="btn solid-btn">Submit</button>
            </div>
    
        </form>
      </div>
  
    </div>
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div> -->