<div mat-dialog-content>
  <div class="row addempop">
    <div class="col-md-3 bgblue">
      <img src="assets/img/addemp.svg" class="imgadd" />
     
    </div>
    <div class="col-md-9">
      <h3 class="heading">Basic College Information</h3>
      <form [formGroup]="basicInfoForm" (ngSubmit)="submitCollageForm()">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="College name"
                name="collegeName"
                formControlName="collegeName"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="Location"
                formControlName="location"
                (blur)="onBlurMethod($event)"
              />
            </div>

            <div class="col-md-12 form-group">
              <!-- <input
                type="text"
                class="addempinput"
                placeholder="Country"
                formControlName="country"
                (blur)="onBlurMethod($event)"
              /> -->

              
                <input type="text" placeholder="Pick country name"  class="addempinput" aria-label="Number" matInput  [(ngModel)] = "selectedCountryModel"
                formControlName="country" [matAutocomplete]="auto" (keyup)="onAutoCompleteCountrySearch()"
              
                >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option.value)">
                  <mat-option *ngFor="let option of filteredCountries" [value]="option.countryName">
                    {{option.countryName}}
                  </mat-option>
                </mat-autocomplete>
             
            </div>
            <div class="col-md-12 form-group" >
              <mat-form-field class="viewPartnerDropDownMatForm" id="select" appearance="standard" >
              <mat-select panelClass="viewPartnerDropDownMatSelect" class="" 
              disableOptionCentering="disableOptionCentering"  formControlName="state" 
              [disabled]="!isState">
              <mat-option [value]="item.stateName" *ngFor="let item of stateInfo; let i = index" selected="i == 0">
                {{ item.stateName }}</mat-option>
            </mat-select>
            </mat-form-field>
            </div>

            <!-- <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="College Registartion"
                name="collageRegistrations"
                formControlName="collageRegistrations"
                (blur)="onBlurMethod($event)"
              />
            </div> -->
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="College Biography"
                name="CollegeBiography"
                formControlName="CollegeBiography"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="Accredation"
                formControlName="accredation"
                (blur)="onBlurMethod($event)"
              />
            </div>

            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="Contact Person Name 1"
                formControlName="contactPerName1"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="contact Person Name 2"
                formControlName="contactPerName2"
                (blur)="onBlurMethod($event)"
              />
            </div>
         
          </div>
          <div class="col-md-6">
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="Contact Person contact no"
                formControlName="contactPer1ContactNo"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="Contact Person 2 contact no"
                formControlName="contactPer2ContactNo"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="grade"
                formControlName="grade"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
            
              <mat-select panelClass="viewPartnerDropDownMatSelect" class="" 
              disableOptionCentering="disableOptionCentering"  formControlName="university" [(ngModel)]="selectUniversityNgModel">
              <mat-option [value]="item.universityName" *ngFor="let item of UniversityGetArray; let i = index" selected="i == 0">
                {{ item.universityName }}</mat-option>
            </mat-select>
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="College Affilation"
                formControlName="CollegeUniAffilation"
                (blur)="onBlurMethod($event)"
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="year Of Esta"
                formControlName="yearOfEsta"
                (blur)="onBlurMethod($event)"
              />
            </div>
       
            <div class="col-md-12 form-group">
              <div class="loadBody">
                <div class="close">
                  <mat-icon>close</mat-icon>
                </div>
                <div class="uploadBody">
                  <form class="drop-zone">
                    <input id="file" type="file" formControlName="files" (change)="onSelectFile($event)" />
                    <div class="uploadTitle">
                      <p>Upload collage logo</p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="contact Person email 1"
                formControlName="contactPerEmail1"
                (blur)="onBlurMethod($event)"
              />
            </div>
           
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="addempinput"
                placeholder="contact Person email 2"
                formControlName="contactPerEmail2"
                (blur)="onBlurMethod($event)"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-4 float-right text-center">
         <div class="row textCenter">
          <div class="addmorecontact"><h1>ADD MORE CONTACT</h1></div>
          <div> <button type="submit " class="btn solid-btn">Submit</button></div>
         </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div> -->
