

  <section class="banner-h-full d-flex align-items-start align-items-md-center py-4">
    <div class="container-fluid custom_width">
      <div class="home">
        <div class="row">
          <div class="col-lg-8 order-lg-2">

            <img src="assets/img/career/06.svg" class=" rightimg img-fluid" >
          </div>
          <div class="col-lg-4 order-lg-1">




            <div class="title-top-space">

                <div class="first-div">Discover Your<br> <span class="first-div-font-color">Dream</span> Job</div>
                <div class="second-div mt-3">Now you are able to find your<br> Dream job</div>

                <button type="button" class="btn solid-btn mt-5" (click)="onExplore()">Explore More <i class="fa fa-chevron-circle-right ml-3" aria-hidden="true"></i></button>



          </div>

          </div>
        </div>
      </div>
    </div>
  </section>


