.first-div{
    font-size: 65px;
    line-height: normal;
    font-weight: 500;
}

.second-div{
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    text-align: left;
    color: #86888b;
    
}

.first-div-font-color{
    color:#26579E
}

.solid-btn {
    font-weight: 400;
    color: #fff;
    background-color: #4567AB;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 9rem;
    height: 2.5rem;
    border-radius: 8.25rem;
   
}