.custom-input{
    height: 2.5rem;
    font-size: 0.8rem;
    color: #afb5bb;
    background-color: #ced4da29;
    border: 1px solid #ced4da29;
}

.form-font-size {
    font-size: 0.8rem;
    
}

.solid-btn {
    font-weight: 600;
    color: #fff;
    background-color: #3e5ca2;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 9rem;
    height: 2.5rem;
    border-radius: 8.25rem;
   
}

.outline-btn{
    font-weight: 600;
    border: 1.5px solid #3e5ca2;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 9rem;
    height: 2.5rem;
    border-radius: 8.25rem;
    padding-top: 0.5rem;
}

.text-mute{

    color: lightgray;
}

