::ng-deep .solid-btn {
    font-weight: 400;
    color: #fff;
    background-color: #4567AB;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 5rem;
    height: 2.5rem;
    border-radius: 8.25rem;
  
  }

  ::ng-deep .outline-btn{
    font-weight: 400;
    border: 1.5px solid #3e5ca2;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 5rem;
    height: 2.5rem;
    border-radius: 8.25rem;
}

 